.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.splash {
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.205), rgba(253, 255, 255, 0.322)), url(./assets/simple\ and\ pink.jpg);
  background-size:cover;
  overflow: auto;
  /* background-position: center center; */
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px white;
}

#splashForm {
  margin-top: 20vh;
  width:60vw ;
  display: block;
  padding: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size:x-large;
  color:#000000;
  position: absolute;
}

#splashBtn{
  background-color: rgb(147, 101, 290);
  margin: 2vw;
}

.rando{
  /* purple */
  background-color: rgb(147, 101, 290);
  /* lighter Pink */
  background-color: rgb(205, 89, 205);
  /* darker pink */
  background-color: rgb(184, 55, 184);
  /* light blue */
  background-color: rgb(154, 154, 230);
  /* darker blue */
  background-color: rgb(78, 78, 194);
}